<div class="tela">

    <form (click)="enviarDados()">
<h1>Área de Cadastro</h1>
  <table>
  <tr>
      <td>Nome:</td>
      <td><input type="text" name="nome" id="nome" [(ngModel)]="cliente.nome"></td>
  </tr>
  <tr>
      <td>Telefone:</td>
      <td><input type="text" name="telefone" id="telefone" [(ngModel)]="cliente.telefone"></td>
  </tr>
  <tr>
      <td>Login:</td>
      <td><input type="text" name="login" id="login" [(ngModel)]="cliente.login"></td>
  </tr>
  <tr>
      <td>Senha:</td>
      <td><input type="password" name="senha" id="password" [(ngModel)]="cliente.senha"></td>
  </tr>
  </table>

  <button routerLink="/home" routerLinkActive="active">HOME</button>
  <button type="submit">Efeturar Cadastro</button>
    </form>
</div>