<div class="tela">
    <h1>Área de Login</h1>
    <table id="campos">
      <tr><td>Usuário: </td><td><input type="text" placeholder="usuario ou email"/></td></tr>
      <tr><td>Senha: </td><td><input type="password" placeholder="Senha"/></td></tr>
      <tr><td colspan='2' id="env"> <button  id="cad" >Efetuar Login</button></td></tr>
    </table>
  </div>
