<nav id="menu">
    <div>
        <div>
            <a  id="titulo" routerLink="/home" routerLinkActive="active">Barbearia</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
            <li><a routerLink="/cadastro" routerLinkActive="active">Cadastrar</a></li>
            <li><a routerLink="/cliente" routerLinkActive="active">Cliente</a></li>
            <li><a routerLink="/lista" routerLinkActive="active">Listar Cliente</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="login">
            <li><a routerLink="/login" routerLinkActive="active"><span className="glyphicon glyphicon-user"></span> Login </a></li>
            <li><a href="#"><span className="glyphicon glyphicon-log-in" id="sp"></span> Sair </a></li>
        </ul>
    </div>
</nav>