<div id="lista">
<table>
  <tr>
    <td class="a">CÓDIGO</td>
    <td class="a">NOME</td>
    <td class="a">TELEFONE</td>
    <td class="a">DATA/HORA</td>
    <td class="a">STATUS</td>
  </tr>
  <tr id="l" *ngFor = "let X of cliente">
      <td>{{X.cod}}</td>
    <td>{{X.nome}}</td>
    <td>{{X.telefone}}</td>
    <td>{{X.data}}</td>
    <td>{{X.status}}</td>
  </tr>
</table>
</div>