/* You can add global styles to this file, and also import other style files */
nav#menu div{
    display: block;
    background-color: #1D1C1C;
}

nav#menu div ul{
    align-content: center;
    background: rgba(235, 223, 223, 0.38);
    list-style: none;
	text-transform: uppercase;;
    position: relative;
}

nav#menu div li{
    display: inline-block;
    padding: 5px;
	margin: 2px;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition:  background-color 1s;
	-ms-transition:  background-color 1s;
	transition: background-color 1s;
}
nav#menu div li:hover{
    background: rgba(235, 223, 223, 0.38);
    border-radius: 2px;
}
.tela{
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: auto;
    
}
input{
    border-radius: 5px;
    padding: 5px;
}

button{
    border-radius: 12px;
    padding: 10px;
    background-color: black;
    color: white;
    -webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition:  background-color 1s;
	-ms-transition:  background-color 1s;
	transition: background-color 1s;
}
nav#painel{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: -10px;
}
button:hover{
    background-color: rgba(100, 95, 95, 0.38);
    color: black;

    -webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition:  background-color 1s;
	-ms-transition:  background-color 1s;
	transition: background-color 1s;
}
h1,h2{
    text-align: center;
    background-color: rgba(100, 95, 95, 0.38);
}
.a{
    text-align: center;
    padding: 5px;
    background-color: gray;
}
p{
    padding: 10px;
}
tr#l{
    background-color: white;
}

a#titulo{
    font-size: 30pt;
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
}


ul#login{
    display: block;
    position: relative;
    float: right;
    top: -65px;
    margin-right: 15%;
}

table td {
    padding: 10px;
    text-align: center;
    /*border: 1px solid black;*/
}

body{
    font-family: Arial, sans-serif
}

div#interface{
    background: rgba(235, 223, 223, 0.38);
    margin: auto;
    width: 900px;
    height: 600px;
    box-shadow: 1px 1px 10px;
}

table#dados td{
    padding: 1px;
}
table#dados{
    margin-left: 20%;
}
table#fila{
    margin-left: 30%;
}
div#lista{
    display: block;
    position: relative;
    margin-left: 16%;
}
div#tela1{
    display: block;
    position: relative;
    margin: 5px, 5px, 5px, 5px;
    padding: 15px;
    margin-top: -15px;
 
}
div#tela2{
    display: block;
    position: relative;
    padding: 15px;
    margin-top: -15px;
}