
<div id="tela1">
    <h2>Dados Cadastrais</h2>
    <table id="dados">
    <tr>
      <td>Nome:</td><td><input type="text" [(ngModel)]="cliente.nome"/></td>
      <td>Telefone:</td><td><input type="text" [(ngModel)]="cliente.telefone"/></td>
    </tr>
    <tr>
      <td>Status:</td><td> <input type="text" [(ngModel)]="cliente.status"/></td>
      <td>Posição da fila:</td><td><input type="text" [(ngModel)]="cliente.cod"></td>
      </tr>
    </table>

    <nav id="painel">
      <button (click)="entrarFila()">Entrar na Fila</button>
      <button (click)="sairFila()">Desistir de Esperar</button>
      <button>Atualizar Dados</button>
    </nav>
</div>
<div id="tela2">
<h2>Fila de Espera</h2>

<table id="fila">
  <tr>
    <td class="a">POSIÇÃO</td>
    <td class="a">NOME</td>
    <td class="a">DATA/HORA</td>
  </tr>
  <tr id="l" *ngFor = "let X of fila.itens">
      <td>{{X.ordem}}</td>
    <td>{{X.cliente.nome}}</td>
    <td>{{X.dataHora}}</td>
  </tr>
</table>
</div>